@import  url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant:ital,wght@0,500;0,600;1,500&display=swap');

body {
  font-family: 'Cormorant', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}