@import "src/app/styles/colors.scss";

$bg1_whyMe: "../../assets/procedures/bg1.svg";
$bg2_whyMe: "../../assets/procedures/bg2.svg";

.proceduresWrapper {
  padding-top: 20px;
  background-color: $blue;
  background-image: url($bg1_whyMe), url($bg2_whyMe);
  background-repeat: no-repeat;
  background-position: left -50px, right bottom;
  overflow: hidden;
}


.procedures {
  min-height: 80vh;
  margin: 40px 50px 0;

  .procedure {
    margin-bottom: 16px;

    .description {
      display: none;
      white-space: break-spaces;
      padding-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.active {
  >button {
    background-color: $beige;
  }
  .description {
    display: block !important;

    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
  }
}