@import "src/app/styles/colors.scss";

$bg1_certificates: '../../assets/certificates/bg1.svg';
$bg2_certificates: '../../assets/certificates/bg2.svg';

.certificatesWrapper {
  padding-top: 20px;
  background-color: $white;
  background-image: url($bg1_certificates), url($bg2_certificates);
  background-repeat: no-repeat;
  background-position: left -25px, center 225px;

  img {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
  }
}

.certificates {
  margin: 40px 25px 30px;
  display: inline-block;

  .top, .bottom {
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .top {
    div {
      margin-bottom: 20px;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    >div {
      width: 100%;
      margin-bottom: 20px;

      > img {
        object-fit: cover;
        position: relative !important;
      }
    }
  }
}