@import 'src/app/styles/colors.scss';

.header {
  margin-top: 20px;
  background-color: $gray;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {

    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 20px;
    text-transform: uppercase;
    color: $white;
  }

  .back {
    position: absolute;
    margin: auto 0;
    left: 35px;
  }
}