@import "src/app/styles/colors.scss";

$bg1_home: '../../assets/home/bg1.png';
$bg2_home: '../../assets/home/bg2.png';

.home {
  background-color: $beige;
  background-image: url($bg1_home), url($bg2_home);
  background-repeat: no-repeat;
  background-position: -103.329px -240.43px, -117px 444px;
  overflow: hidden;

  .top {
    padding-top: 22px;
    margin: 0 25px;
    display: flex;
    justify-content: space-between;

    .title {
      margin-top: 20px;
      font-family: 'Caveat', cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 75%;
      color: #000000;

    }

    .profileImage {
      margin-top: 20px;
    }
  }

  .description {
    margin: 40px 25px 40px;
    white-space: break-spaces;

    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 125%;
    color: #000000;
  }

  .menu {
    margin: 40px 50px 30px;

    >button {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}