@import 'src/app/styles/colors.scss';

.button {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #000000;

  background-color: $white;
  border: 1px solid #929292;
  border-radius: 5px;
}