@import 'src/app/styles/colors.scss';

$bg1_whyMe: "../../assets/whyMe/bg1.svg";
$bg2_whyMe: "../../assets/whyMe/bg2.svg";
$bg3_whyMe: "../../assets/whyMe/bg3.svg";

.whyMeWrapper {
  background-color: $white;
  background-image: url($bg1_whyMe), url($bg3_whyMe), url($bg2_whyMe);
  background-repeat: no-repeat;
  background-position: left -50px, center 190px, right bottom;
  overflow: hidden;
}

.back {
  position: absolute;
  top: 28px;
  left: 35px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  margin: 0 25px 40px 45px;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 20px;
    text-transform: uppercase;
    color: $white;
  }
}

.description {
  margin: 0 25px 30px;
  padding-left: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: lowercase;
  color: #000000;


  list-style-position: outside;
  white-space: break-spaces;

  >ul {
    padding: 0;
    > li {
      margin-bottom: 9px;
    }
  }
}